<header class="row">
  <p id="geoloc" class="lead pull-left">Je suis…</p>
  <button type="button" class="btn btn-info pull-right">Chercher des endroits à proximité</button>
</header>
 
<ul id="places" class="row list-unstyled">{{{placeList}}}</ul>
 
<form id="submission" class="row form-inline" role="form">
  <div class="col-sm-9 col-xs-12">
    <input type="text" placeholder="Votre commentaire ici…" id="comment" class="form-control">
  </div>
  <div class="col-sm-3 col-xs-12">
    <button type="submit" class="btn btn-primary">Check-In&nbsp;!</button>
  </div>
</form>